{% extends "base.html" %}
{% load static %}
{% block title %}Главная{% endblock %}
{% block content %}
    <div class="osn">
        <h1>Категории услуг</h1>
        <div class="categories">
            {% for category in categories %}
                <a href="{% url 'catalog:category' category.slug %}">
                    <div class="category">
                        <p>{{ category.name }}</p>
                        <img src="{{ category.photo.url }}" alt="category">
                    </div>
                </a>
            {% endfor %}
        </div>
    </div>
    <h2 class="Top">Топ специалистов</h2>
    <div class="swiper-wrapper popular-salons">
        {% for specialist in specialists %}
            <div class="swiper-slide item swiper-slide-prev" style="margin-right: 58px;">
                <div class="mini" data-toggle="hover-element">
                    <img class="icon img-box"
                         style="-webkit-background-size: cover;" src="{{ specialist.user.photo.url }}">
                    <a href=""><b>{{ specialist.user.fio }}</b></a>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
