{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="registration">
        <div class="logcontainer">
            <input type="checkbox" id="check">
            <div class="login form">
                <header>Авторизация бренда</header>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Войти</button>
                </form>
                <div class="signup">
                  <span class="регистрация">Есть учетная запись?
                 <a href="{% url 'account:login' %}">Войти </a>
                </span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}