{% extends 'base.html' %}
{% load static %}
{% block title %}
	Чат
{% endblock %}
{% block content %}
    <section class="full_screen">
        <div class="bg_page_register wrapper">
            <div class="content container" id="silver">
                <h2 class="chat-title">Чаты</h2>
                <div class="chats">
                    <div class="person-chat">
                        <div class="person-chat-users">
                            {% for room in all_rooms %}

                                <div class="person-chat-users-id">
                                    <ul>
                                        <li><a href="{% url 'chat:room' room.room_name user.username %}">{{ room.room_name }}</a></li>
                                    </ul>
                                </div>

                            {% endfor %}

                        </div>
                    </div>
                    <div class="personal-account_container place_an_order all_chats">

                        <div class=" right_column">
                            <div class="chat_container">


                                <div class="chat-message-container">
                                    <div class="chat-message-list" id="inner">
                                        {% for i in messages %}
                                            <div class="message message-head" id="message-552680631">
                                                <div class="chat-message">
                                                    <div class="media-user-name">
                                                        <a href=""
                                                           class="name_user">{{ i.sender }}</a>
                                                        <div class="chat-message-date" title="{{ i.created_at }}">
                                                            {{ i.created_at }}
                                                        </div>
                                                    </div>
                                                    <div class="message-text">{{ i.message }}</div>
                                                </div>
                                            </div>
                                        {% endfor %}

                                    </div>

                                </div>
                                <div class="chat-form">
                                    <form action="" method="post" id="message-form">
                                        {% csrf_token %}

                                        <div class="chat-form-input">
                                            <input autocomplete="none" id="msg chat-message-input comment" type="text" placeholder="Введите сообщение..."
                                                   class="form-group">
                                            <button type="submit" class="form-control"
                                                    id="form-controls chat-message-submit">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
                                                     height="24">
                                                    <path d="M2 21l21-9L2 3v7l15 2-15 2z"/>
                                                </svg>
                                            </button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scriptblock %}
    <script>
        function scrollToBottom() {
            var chatContainer = document.getElementById("chatContainer");
            chatContainer.scrollTop = chatContainer.scrollHeight;
        }

        const websocketProtocol = window.location.protocol === "https:" ? "wss" : "ws";
        const wsEndpoint = `${websocketProtocol}://${window.location.host}/ws/notification/{{room_name}}/`;
        const socket = new WebSocket(wsEndpoint);

        // Form submit listener
        document.getElementById('message-form').addEventListener('submit', function (event) {
            event.preventDefault();
            const message = document.getElementById('msg chat-message-input comment').value;
            socket.send(
                JSON.stringify({
                    'message': message,
                    'room_name': '{{room_name}}',
                    'sender': '{{username}}',
                })
            );
        });

        // Response from consumer on the server
        socket.addEventListener("message", (event) => {
            const messageData = JSON.parse(event.data)['message'];
            console.log(messageData);

            var sender = messageData['sender'];
            var message = messageData['message'];

            // Empty the message input field after the message has been sent
            if (sender == '{{username}}') {
                document.getElementById('msg chat-message-input comment').value = '';
            }

            // Append the message to the chatbox
            var messageDiv = document.querySelector('.chat-message-list');

            messageDiv.innerHTML += '<div class="message message-head" id="message-552680631"><div class="chat-message"><div class="media-user-name"><a href="" class="name_user">' + sender + '</a><div class="chat-message-date" title="created">только что</div></div><div class="message-text">' + message + '</div></div></div>';
            scrollToBottom();
        });

        socket.onopen = (event) => {
            console.log("WebSocket connection opened!");
        };

        socket.onclose = (event) => {
            console.log("WebSocket connection closed!");
        };

    </script>
{% endblock %}