{% extends "base.html" %}
{% load static %}
{% block title %}Каталог{% endblock %}
{% block content %}
    <section class="catalog-container">
        <ul class="select-menu">
            <li><a class="" href="{% url "catalog:index" %}">Все категории</a></li>
            {% for category in categories %}
                <li><a class="" href="{% url "catalog:category" category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
        </ul>
        <div class="catalog1">
            <h2 class="Name-catalog">Каталог услуг</h2>
            <form method="GET" action="{% url 'catalog:index' %}">
                <input type="text" name="q" placeholder="Поиск...">
                <input type="number" name="min_price" placeholder="Мин. цена">
                <input type="number" name="max_price" placeholder="Макс. цена">
                <input type="radio" name="sort_by_price" value="ascending" checked id="sort_by_price1"><label for="sort_by_price1">Сортировка по возрастанию</label>
                <input type="radio" name="sort_by_price" value="descending" id="sort_by_price2"><label for="sort_by_price2">Сортировка по убыванию</label>
                <button type="submit">Применить</button>
            </form>
            <div class="catalog">

                {% for datum in posts %}
                    <a href="{% url 'catalog:detail' datum.slug %}">
                        <div class="catalog-item">
                            <div class="catalog-fotos">
                                <img class="cover" src="{{ datum.photo.url }}" alt="{{ datum.photo.name }}">
                                <p class="rating"> {{ datum.rating }}</p>
                            </div>
                            <div class="catalog-content">
                                <p class="name">{{ datum.name }}</p>
                                <p class="truncate">{{ datum.description }}</p>
                                <ul>
                                    <li class="price">Цена от: {{ datum.price }}</li>
                                </ul>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
{% block footer %}
{% endblock %}
