{% extends "base.html" %}
{% load custom_tags %}
{% load static %}

{% block title %}
    {{ object.user.fio }}
{% endblock %}
{% block content %}
    <section class="container">
        <div class="seller_card">
            <div class="seller_card_logo">
                <a href="#"><img src="{{ object.user.photo.url }}" alt="Логотип"></a>
                <div class="seller_card_info">
                    <h2>{{ object.user.fio }}</h2>
                    <span>{{ object.address }}</span>
                    <div class="seller_card_button">
                        <a href="#">Телефон</a>
                        {% if user_authenticated %}
                            <a href="{% url 'chat:room' object.slug user.username %}">Чат</a>
                        {% else %}
                            <a href="{% url 'account:login' %}">Чат</a>
                        {% endif %}

                    </div>
                </div>
            </div>
            <div class="seller_card_description">
            </div>
            <div class="seller_card_schedule">
                <span><b>Удобное время для связи</b></span>
                <span class="time">c {{ object.best_time_start }}-{{ object.best_time_end }}</span>
            </div>
            {#            <div class="gallery">#}
            {#                {% for service in object.get_all_services %}#}
            {#                    <img src="{{ service.photo.url }}" class="gallery-img" alt="">#}
            {#                {% endfor %}#}
            {#            </div>#}
            <div id="modal" class="modal">
                <span class="close">&times;</span>
                <img class="modal-content" id="modal-image">
                <div id="caption"></div>
                <a class="prev">&#10094;</a>
                <a class="next">&#10095;</a>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="container-border">
            <div class="arrow-icon">
                <div class="info-content">

                    <h2>Описание</h2>
                    <div>
                        <p>
                            {{ object.description }}
                        </p>

                        <h2>Мои услуги</h2>
                        <ul class="services">
                            {% for service in object.get_all_services %}
                                <li><a href="">{{ service.name }}<span
                                        class="price">от {{ service.get_price }}р за штуку</span>
                                </a></li>
                            {% endfor %}
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </section>
    <section class="container">
        <div class="container-border">
            <h2>Примеры работ</h2>
            <div class="slider">
                <div class="main-image">
                    <img id="currentImage" src="" alt="Main Image">
                </div>
                <button class="prev" onclick="changeSlide(-1)">&#10094;</button>
                <button class="next" onclick="changeSlide(1)">&#10095;</button>
                <div class="thumbnail-container">
                    <div class="thumbnails">
                        {% for service in object.get_all_services %}
                            <img src="{{ service.photo.url }}" alt="{{ service.photo.name }}" onclick="showImage({{ forloop.counter0 }})">
                        {% endfor %}
                    <!-- Добавьте больше изображений здесь -->
                </div>
            </div>
        </div>
        </div>
    </section>


    <section class="container">
        <div class="container-border">
            <div class="otzivi">
                <h2 class="h2h">Отзывы</h2>
                <div class="reviews">

                    <p class="revtxt"><span class="n1">{{ object.average_rating }}</span> Рейтинг <span
                            class="n2">{{ object.count_rating }} Оценок</span></p>

                    {% for review in object.reviews.all %}

                        <div style="border: 1px black solid">
                            {% if user.is_superuser or user.is_staff or review.user == user %}
                                <a href="{% url 'catalog:delete_review' object.slug review.pk %}">Удалить</a>
                            {% endif %}
                            <p>{{ review.user.username }}</p>
                            <p>{{ review.rating }}/5</p>
                            <p>{{ review.comment }}</p>
                        </div>
                    {% endfor %}

                </div>
                <div class="row">
                    <div class="single-form-left">
                        <!-- contact form grid -->
                        {% if user.is_authenticated %}
                            {% if not user_has_review %}
                                <div class="contact-single">
                                    <h3 class="editContent" style="outline: none; cursor: inherit;">
                                    <span class="sub-tittle editContent"
                                          style="outline: none; cursor: inherit;"></span>Оставить
                                        отзыв</h3>
                                    <form method="post" class="mt-4">
                                        {% csrf_token %}
                                        {% for f in reviews_form %}
                                            {% if f.label == 'Rating' %}
                                                <div class="rating-area">

                                                    {% for radio in f|reverse %}

                                                        {{ radio.tag }}
                                                        <label for="{{ radio.id_for_label }}"></label>

                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                <div class="input-field">
                                                    <label hidden="hidden"
                                                           for="{{ f.id_for_label }}">{{ f.label }}</label>
                                                    {{ f }}
                                                    <div class="input-errors">{{ f.errors }}</div>
                                                </div>
                                            {% endif %}



                                        {% endfor %}
                                        <button type="submit"
                                                class="mt-3 btn btn-success btn-block py-3">
                                            Отправить
                                        </button>
                                    </form>
                                </div>
                            {% endif %}
                        {% endif %}
                        <!--  //contact form grid ends here -->
                    </div>
                </div>
                {% for review in company.reviews_set.all %}
                    <div class="media py-5">
                        <img src="{% static 'img/te2.jpg' %}" class="mr-3 img-fluid" alt="image">
                        <div class="media-body mt-4">
                            <h5 class="mt-0 editContent">
                                {{ review.name }}
                            </h5>
                            <p class="mt-2 editContent">
                                {{ review.text }}
                            </p>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>

    </section>

{% endblock %}