{% extends "base.html" %}
{% load static %}

{% block title %}
    {{ object.name }}
{% endblock %}
{% block content %}
    <section class="info">
        <div class="perehod">
            <a href="index.html" class="pertxt">Главная</a>
            <img src="{% static 'img/arrow.png' %}" class="arrow">
            <a href="#" class="pertxt">Каталог</a>
            <img src="{% static 'img/arrow.png' %}" class="arrow">
            <p class="pername">Антон Антонов</p>
        </div>
    </section>
    <section class="info2">
        <div class="infos2">
            <div class="sp-slideshow">

                <input type="radio" id="button-1" name="radio-set" class="sp-selector-1" checked="checked"/>
                <label for="button-1" class="button-label-1"></label>

                <input type="radio" id="button-2" name="radio-set" class="sp-selector-2"/>
                <label for="button-2" class="button-label-2"></label>

                <input type="radio" id="button-3" name="radio-set" class="sp-selector-3"/>
                <label for="button-3" class="button-label-3"></label>

                <input type="radio" id="button-4" name="radio-set" class="sp-selector-4"/>
                <label for="button-4" class="button-label-4"></label>

                <input type="radio" id="button-5" name="radio-set" class="sp-selector-5"/>
                <label for="button-5" class="button-label-5"></label>

                <label for="button-1" class="sp-arrow sp-a1"></label>
                <label for="button-2" class="sp-arrow sp-a2"></label>
                <label for="button-3" class="sp-arrow sp-a3"></label>
                <label for="button-4" class="sp-arrow sp-a4"></label>
                <label for="button-5" class="sp-arrow sp-a5"></label>

                <div class="sp-content">
                    <div class="sp-parallax-bg"></div>
                    <ul class="sp-slider clearfix">
                        <li><img alt="image01" src="{{ object.photo.url }}"/></li>
                        <li><img alt="image02" src="{{ object.photo.url }}"/></li>
                        <li><img alt="image03" src="{{ object.photo.url }}"/></li>
                        <li><img alt="image04" src="{{ object.photo.url }}"/></li>
                        <li><img alt="image05" src="{{ object.photo.url }}"/></li>
                    </ul>
                </div>
            </div>
            <div class="brandinfo">
                <div class="brandinf">
                    <img src="{% static 'img/sel1.jpg' %}">
                    <div class="brandik">
                        <p class="brandname">{{ object.name }}</p>
                        <p class="brandplace">Набережночелнинский проспект 56</p>
                    </div>
                </div>
                <div class="brandcont">
                    <div class="brandphone">
                        <img src="{% static 'img/phone.png' %}">
                        <p class="btxt">+7 (917) 246-72-72</p>
                    </div>
                    <div class="brandtime">
                        <img src="{% static 'img/cloack.png' %}">
                        <p class="btxt">Пн—Вс: с 08:00 до 20:00</p>
                    </div>
                </div>
                <div class="brandmark">
                    <div class="marks">
                        <p class="mark">5.0</p>
                        <div>
                            <img src="{% static 'img/stars.png' %}" class="stars">
                            <p class="markstat">15 оценок</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="opisanie">
            <div class="hhh"><h3 class="hop">Описание</h3>
                <h3 class="hmap">На карте</h3></div>
            <div class="opinf">
                <p class="optxt">
                    {{ object.description }}
                </p>
                <div class="map2">
                    <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3Aa742c592d6fa49d9e198482601a9857c61c3aeed906b8f73cb113099aa5ef886&amp;source=constructor"
                            width="417" height="180" frameborder="0" class="mapplace"></iframe>
                </div>
            </div>
        </div>
        <div class="otzivi">
            <h2 class="h2h">Отзывы</h2>
            <div class="reviews">
                <img src="{% static 'img/stars.png' %}" class="superstars">
                <p class="revtxt"><span class="n1">{{ object.average_rating }}</span> Рейтинг <span
                        class="n2">{{ object.count_rating }} Оценок</span></p>


                <div class="starrrrr">
                    <div class="star5">
                        <img src="{% static 'img/stars.png' %}" class="star5">
                        <div class="bar"></div>
                    </div>
                </div>
                {% for review in object.reviews.all %}

                    <div style="border: 1px black solid">
                        {% if user.is_superuser or user.is_staff or review.user == user %}
                            <a href="{% url 'catalog:delete_review' object.slug review.pk %}">Удалить</a>
                        {% endif %}
                        <p>{{ review.user.username }}</p>
                        <p>{{ review.rating }}/5</p>
                        <p>{{ review.comment }}</p>
                    </div>
                {% endfor %}

            </div>
        </div>
        <div class="row">
            <div class="single-form-left">
                <!-- contact form grid -->
                {% if user.is_authenticated %}
                    {% if not user_has_review %}
                        <div class="contact-single">
                            <h3 class="editContent" style="outline: none; cursor: inherit;">
                                    <span class="sub-tittle editContent"
                                          style="outline: none; cursor: inherit;"></span>Оставить
                                отзыв</h3>
                            <form method="post" class="mt-4">
                                {% csrf_token %}
                                {% for f in reviews_form %}
                                    <div class="input-field">
                                        <label hidden="hidden" for="{{ f.id_for_label }}">{{ f.label }}</label>
                                        {{ f }}
                                        <div class="input-errors">{{ f.errors }}</div>
                                    </div>
                                {% endfor %}
                                <button type="submit"
                                        class="mt-3 btn btn-success btn-block py-3">
                                    Отправить
                                </button>
                            </form>
                        </div>
                    {% endif %}
                {% endif %}
                <!--  //contact form grid ends here -->
            </div>
        </div>
        {% for review in company.reviews_set.all %}
            <div class="media py-5">
                <img src="{% static 'img/te2.jpg' %}" class="mr-3 img-fluid" alt="image">
                <div class="media-body mt-4">
                    <h5 class="mt-0 editContent">
                        {{ review.name }}
                    </h5>
                    <p class="mt-2 editContent">
                        {{ review.text }}
                    </p>
                    {#                    <div class="media mt-5 editContent"#}
                    {#                         style="outline: none; cursor: inherit;">#}
                    {#                        <a class="pr-3" href="#">#}
                    {#                            <img src="bundles/images/te1.jpg" class="img-fluid " alt="image">#}
                    {#                        </a>#}
                    {#                        <div class="media-body">#}
                    {#                            <h5 class="mt-0 editContent"#}
                    {#                                style="outline: none; cursor: inherit;">Leia Organa</h5>#}
                    {#                            <p class="mt-2 editContent"#}
                    {#                               style="outline: none; cursor: inherit;"> Cras sit amet#}
                    {#                                nibh libero, in gravida nulla. Nulla vel metus#}
                    {#                                scelerisque ante sollicitudin. Cras purus odio,#}
                    {#                                vestibulum in vulputate at, tempus viverra turpis. Fusce#}
                    {#                                condimentum nunc ac nisi vulputate fringilla..</p>#}
                    {#                        </div>#}
                    {#                    </div>#}
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}